#include	<os2.h>
#include	"RollBall.h"

ICON		ID_WINDOW PRELOAD	RollBall.ico
POINTER		ID_POINTER PRELOAD	RollBall.ptr
BITMAP		BM_ABOUT PRELOAD	BitMap1.bmp
BITMAP		BM_RB PRELOAD		BitMap2.bmp
BITMAP		BM_LX PRELOAD		BitMap3.bmp
BITMAP		BM_RX PRELOAD		BitMap4.bmp
BITMAP		BM_HOLE PRELOAD     BitMap5.bmp
BITMAP		BM_BP PRELOAD		BitMap6.bmp
BITMAP		BM_GP PRELOAD		BitMap7.bmp
BITMAP		BM_MP PRELOAD		BitMap8.bmp
BITMAP		BM_VP PRELOAD		BitMap9.bmp
BITMAP      OS2LOGO PRELOAD     Os2logo.bmp

MENU		ID_WINDOW PRELOAD
BEGIN
	SUBMENU	"~Options",			ID_OPTIONS
	BEGIN
		MENUITEM "~About RollBall",     ID_ABOUT, MIS_TEXT
		MENUITEM "A~bout Score",	    ID_SCORE, MIS_TEXT
		MENUITEM SEPARATOR
        MENUITEM "~Start Game",         ID_STARTTHREAD, MIS_TEXT
        MENUITEM "~Pause Game",         ID_PAUSETHREAD, MIS_TEXT, MIA_DISABLED
        MENUITEM "S~top Game",          ID_STOPTHREAD, MIS_TEXT, MIA_DISABLED
        MENUITEM SEPARATOR
		MENUITEM "E~xit\tF3",		    ID_EXITPROGRAM, MIS_TEXT
	END
END

ACCELTABLE	ID_WINDOW PRELOAD
BEGIN
    VK_F3,                              ID_EXITPROGRAM, VIRTUALKEY
END

rcinclude RollBall.dlg

